package sites

templ SiteMain(html string) {
	<article class="site-content">
		@templ.Raw(html)
	</article>
}

templ SiteNotFound(tr func(string, ...any) string) {
	<section class="site-not-found">
		<h1>{ tr("site not found") }</h1>
	</section>
}
