package base

import "app/templates/meta"

type BodyParams struct {
	Content       templ.Component
	Aside         templ.Component
	Active        string
	HeaderTitle   string
	PoweredFooter bool
}

templ body(tr func(string, ...any) string, params BodyParams) {
	<body>
		<div class="hidden" id={ RedirectID }></div>
		@h(tr, params.Active, params.HeaderTitle)
		@m(params.Content, params.Aside)
		@f(params.PoweredFooter)
	</body>
}

templ h(tr func(string, ...any) string, active string, title string) {
	<header>
		if title != "" {
			<h1>{ title }</h1>
		} else {
			<nav>
				<h1>{ "conex" }</h1>
			</nav>
		}
	</header>
}

templ m(content, aside templ.Component) {
	<main>
		if aside != nil {
			<aside>
				@aside
			</aside>
		}
		<div class="content">
			@content
		</div>
	</main>
}

templ f(powered bool) {
	<footer>
		if powered {
			Powered by <a href="/">{ meta.AppTitle }</a>
		} else {
			© { meta.Year } { meta.AppTitle }
		}
	</footer>
}
