package base

type HeadParams struct {
	Title                 string
	Subtitle              string
	Description           string
	CanonicalURL          string
	PreviewTitle          string
	PreviewURL            string
	PreviewType           string
	PreviewSiteName       string
	PreviewLocale         string
	PreviewUpdatedTime    string
	PreviewTags           []string
	PreviewImageURL       string
	PreviewImageAlt       string
	PreviewImageWidth     string
	PreviewImageHeight    string
	RobotsIndex           bool
	RobotsGoogleTranslate bool
}

const RedirectID = "redirect"

templ head(params HeadParams) {
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content"/>
		if params.Title != "" && params.Subtitle != "" {
			<title>{ params.Subtitle + " | " + params.Title }</title>
		} else if params.Title != "" {
			<title>{ params.Title }</title>
		}
		if params.Description != "" {
			<meta name="description" content={ params.Description }/>
		}
		if params.CanonicalURL != "" {
			<link rel="canonical" href={ params.CanonicalURL }/>
		}
		if params.PreviewTitle != "" {
			<meta property="og:title" content={ params.PreviewTitle }/>
			<meta name="twitter:title" content={ params.PreviewTitle }/>
		}
		if params.Description != "" {
			<meta property="og:description" content={ params.Description }/>
			<meta name="twitter:description" content={ params.Description }/>
		}
		if params.PreviewURL != "" {
			<meta property="og:url" content={ params.PreviewURL }/>
		}
		if params.PreviewType != "" {
			<meta property="og:type" content={ params.PreviewType }/>
		}
		if params.PreviewSiteName != "" {
			<meta property="og:site_name" content={ params.PreviewSiteName }/>
		}
		if params.PreviewLocale != "" {
			<meta property="og:locale" content={ params.PreviewLocale }/>
		}
		if params.PreviewUpdatedTime != "" {
			<meta property="og:updated_time" content={ params.PreviewUpdatedTime }/>
		}
		for _, tag := range params.PreviewTags {
			<meta property="article:tag" content={ tag }/>
		}
		if params.PreviewImageURL != "" {
			<meta property="og:image" content={ params.PreviewImageURL }/>
			<meta name="twitter:image" content={ params.PreviewImageURL }/>
		}
		if params.PreviewImageAlt != "" {
			<meta property="og:image:alt" content={ params.PreviewImageAlt }/>
			<meta name="twitter:image:alt" content={ params.PreviewImageAlt }/>
		}
		if params.PreviewImageWidth != "" {
			<meta property="og:image:width" content={ params.PreviewImageWidth }/>
		}
		if params.PreviewImageHeight != "" {
			<meta property="og:image:height" content={ params.PreviewImageHeight }/>
		}
		if params.PreviewTitle != "" || params.Description != "" {
			if params.PreviewImageURL != "" {
				<meta name="twitter:card" content="summary_large_image"/>
			} else {
				<meta name="twitter:card" content="summary"/>
			}
		}
		if !params.RobotsIndex {
			<meta name="robots" content="noindex"/>
		}
		if !params.RobotsGoogleTranslate {
			<meta name="googlebot" content="notranslate"/>
		}
		<link rel="icon" href="/s/favicon.png" type="image/png"/>
		<link rel="preconnect" href="https://rsms.me/"/>
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
		<link rel="stylesheet" href="/s/style.css"/>
		<script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
		<script defer src="/s/sites.js"></script>
		<!-- <link rel="apple-touch-icon" sizes="180x180" href={ routes.Map[routes.Assets] + "favicon/apple-touch-icon.png" }/> -->
		<!-- <link rel="icon" type="image/png" sizes="32x32" href={ routes.Map[routes.Assets] + "favicon/favicon-32x32.png" }/> -->
		<!-- <link rel="icon" type="image/png" sizes="16x16" href={ routes.Map[routes.Assets] + "favicon/favicon-16x16.png" }/> -->
		<!-- <link rel="manifest" href={ routes.Map[routes.Assets] + "manifest.json" }/> -->
	</head>
}
