@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

:root {
  --conex-color-fg: black;
  --conex-color-fg-unemph: #00000085;
  --conex-color-fg-border: #00000030;

  --conex-color-bg: white;

  --conex-icon-logout: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='rgb(136,145,164)'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='M15.75%209V5.25A2.25%202.25%200%200%200%2013.5%203h-6a2.25%202.25%200%200%200-2.25%202.25v13.5A2.25%202.25%200%200%200%207.5%2021h6a2.25%202.25%200%200%200%202.25-2.25V15m3%200%203-3m0%200-3-3m3%203H9'%2F%3E%3C%2Fsvg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    --conex-color-fg: white;
    --conex-color-fg-unemph: #ffffff60;
    --conex-color-fg-border: #ffffff30;

    --conex-color-bg: black;
  }

  [data-theme="forest"] {
    --conex-color-fg: green;
    --conex-color-fg-unemph: #ffffff60;
    --conex-color-fg-border: #ffffff30;

    --conex-color-bg: brown;
  }
}

body {
  color: var(--conex-color-fg);
  background: var(--conex-color-bg);
}

p {
  @apply
  pb-4
}

.conex-banner nav {
  @apply
  relative
  z-10
}

nav {
  @apply
  flex
  flex-row
  justify-between
  items-center
}

nav ul {
  @apply
  list-none
  flex
  gap-4
}

.conex-banner {
  @apply
  h-64
  relative
}

.conex-banner img {
  @apply
  w-full
  h-full
  object-cover
}

.conex-banner .conex-banner-content {
  @apply
  absolute
  flex
  flex-col
  justify-center
  text-center
  inset-0
}

.conex-banner:has(img) .conex-banner-content {
  @apply
  text-white
  bg-black/25
}

.conex-banner h1,
.conex-banner p {
  @apply
  w-full
  max-w-4xl
  mx-auto
}

.conex-banner h1 {
  @apply
  text-4xl
  font-extrabold
}

.conex-banner p {
  @apply
  font-light
  mt-3
}

main {
  @apply
  w-full
  max-w-4xl
  mx-auto
  p-4
}

input, select, button {
  border-color: var(--conex-color-fg-border);

  @apply
  w-full
  my-1
  py-2.5 px-4
  border
  rounded-full

  font-light

  hover:shadow-md

  focus:shadow-md
  focus:outline-none
  focus:border-gray-400

  transition-all
  duration-300
}

a {
  @apply
  underline
}

button.icon {
  @apply
  inline-flex
  items-center
  border-none
  mx-2
  m-0
  p-0
  bg-no-repeat

  hover:shadow-none

  focus:shadow-none
}

button.logout::before {
  content: "";
  background-image: var(--conex-icon-logout);
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem 1.5rem;
}

[data-theme="forest"] {
  --conex-color-fg: brown;
  --conex-color-fg-unemph: #00000085;
  --conex-color-fg-border: #00000030;

  --conex-color-bg: green;
}

::placeholder {
  color: var(--conex-color-fg-unemph);

  @apply
  italic
}

.conex-cards {
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

  @apply
  grid
  gap-3
}

.conex-card {
  border-color: var(--conex-color-fg-border);

  @apply
  flex
  max-h-36
  border
  items-stretch
  rounded-2xl
  overflow-hidden

  transition-all
  duration-300

  hover:bg-slate-600/10
  hover:dark:bg-slate-400/10
  hover:border-gray-400
  hover:shadow-md
}

.conex-card img {
  @apply
  max-w-24
  h-full
  object-cover
  block
}

.conex-card-content {
  @apply
  px-3
  py-1.5
}

.conex-card-content .title {
  @apply
  font-semibold
  text-base
}

.conex-card-content .description {
  @apply
  text-black/60
  dark:text-white/60
}

.conex-card-content .tags {
  @apply
  mb-1
}

article {
  @apply
  border
  rounded-2xl
  p-2
  my-3

  text-gray-800/70
  bg-gray-200/40
  dark:text-gray-400/90
  dark:bg-gray-600/15
}

article header {
  @apply
  font-bold
}

article.info {
  @apply
  text-blue-800/80
  bg-blue-200/40
  dark:text-blue-400/90
  dark:bg-blue-600/15
}

article.warn {
  @apply
  text-yellow-800/90
  bg-yellow-200/15
  dark:text-yellow-400/70
  dark:bg-yellow-500/15
}

article.error {
  @apply
  text-red-800/90
  bg-red-200/40
  dark:text-red-500/90
  dark:bg-red-500/10
}

.tag {
  @apply
  my-0
  mr-1
  text-xs
  border
  rounded-full
  px-1.5
  py-0.5

  /* default: grey */
  border-gray-300
  text-gray-500
  bg-gray-200
  dark:border-gray-600
  dark:text-gray-400
  dark:bg-gray-800
}

.tag[data-color="blue"] {
  @apply
  border-blue-300
  text-blue-500
  bg-blue-100
  dark:border-blue-700
  dark:text-blue-400
  dark:bg-blue-950
}

.tag[data-color="purple"] {
  @apply
  border-purple-300
  text-purple-500
  bg-purple-100
  dark:border-purple-700
  dark:text-purple-400
  dark:bg-purple-950
}

.tag[data-color="cyan"] {
  @apply
  border-cyan-300
  text-cyan-600
  bg-cyan-100
  dark:border-cyan-700
  dark:text-cyan-500
  dark:bg-cyan-950
}

.tag[data-color="green"] {
  @apply
  border-green-400
  text-green-600
  bg-green-100
  dark:border-green-700
  dark:text-green-600
  dark:bg-green-950
}

.tag[data-color="yellow"] {
  @apply
  border-yellow-400
  text-yellow-600
  bg-yellow-100
  dark:border-yellow-600
  dark:text-yellow-600
  dark:bg-yellow-950
}

.tag[data-color="orange"] {
  @apply
  border-orange-300
  text-orange-500
  bg-orange-100
  dark:border-orange-600
  dark:text-orange-500
  dark:bg-orange-950
}

.tag[data-color="red"] {
  @apply
  border-red-300
  text-red-500
  bg-red-100
  dark:border-red-700
  dark:text-red-400
  dark:bg-red-950
}

/* text and icons */
.ce-inline-tool,
.ce-popover-item__icon,
.ce-popover-item__title {
  @apply
  dark:text-white
}

/* hover over popups items */
.ce-popover__container .ce-popover-item,
.ce-popover-item__icon,
.ce-inline-tool {
  @apply
  dark:hover:!bg-gray-900
}

.ce-popover-item-separator__line {
  @apply
  dark:bg-gray-700
}

/* floating popups and buttons */
.ce-popover--opened>.ce-popover__container,
.ce-popover__search,
.ce-inline-tool-input,
.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  @apply
  dark:text-white
  dark:bg-gray-950
  dark:border-gray-700
}

/* floating buttons */
.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  @apply
  dark:hover:border-gray-500
  dark:hover:bg-gray-900
}

/* selection for example when clicking click to tune */
.ce-block.ce-block--selected .ce-block__content,
*::selection {
  @apply
  dark:!bg-blue-500/30
}
