@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

:root {
  --conex-color-fg: black;
  --conex-color-fg-unemph: #00000085;
  --conex-color-fg-border: #00000030;

  --conex-color-bg: white;

  --conex-icon-logout: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='rgb(136,145,164)'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='M15.75%209V5.25A2.25%202.25%200%200%200%2013.5%203h-6a2.25%202.25%200%200%200-2.25%202.25v13.5A2.25%202.25%200%200%200%207.5%2021h6a2.25%202.25%200%200%200%202.25-2.25V15m3%200%203-3m0%200-3-3m3%203H9'%2F%3E%3C%2Fsvg%3E");
  --conex-icon-user: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='rgb(136,145,164)'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='M17.982%2018.725A7.488%207.488%200%200%200%2012%2015.75a7.488%207.488%200%200%200-5.982%202.975m11.963%200a9%209%200%201%200-11.963%200m11.963%200A8.966%208.966%200%200%201%2012%2021a8.966%208.966%200%200%201-5.982-2.275M15%209.75a3%203%200%201%201-6%200%203%203%200%200%201%206%200Z'%2F%3E%3C%2Fsvg%3E");
  --conex-icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  --conex-icon-edit: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='rgb(136,145,164)'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='m16.862%204.487%201.687-1.688a1.875%201.875%200%201%201%202.652%202.652L10.582%2016.07a4.5%204.5%200%200%201-1.897%201.13L6%2018l.8-2.685a4.5%204.5%200%200%201%201.13-1.897l8.932-8.931Zm0%200L19.5%207.125M18%2014v4.75A2.25%202.25%200%200%201%2015.75%2021H5.25A2.25%202.25%200%200%201%203%2018.75V8.25A2.25%202.25%200%200%201%205.25%206H10'%2F%3E%3C%2Fsvg%3E");
  --conex-icon-gear: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='rgb(136,145,164)'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='M9.594%203.94c.09-.542.56-.94%201.11-.94h2.593c.55%200%201.02.398%201.11.94l.213%201.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257%201.075.124l1.217-.456a1.125%201.125%200%2001%201.37.49l1.296%202.247a1.125%201.125%200%2001-.26%201.431l-1.003.827c-.293.241-.438.613-.43.992a7.723%207.723%200%20010%20.255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26%201.43l-1.298%202.247a1.125%201.125%200%2001-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47%206.47%200%2001-.22.128c-.331.183-.581.495-.644.869l-.213%201.281c-.09.543-.56.94-1.11.94h-2.594c-.55%200-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52%206.52%200%2001-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125%201.125%200%2001-1.369-.49l-1.297-2.247a1.125%201.125%200%2001.26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932%206.932%200%20010-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125%201.125%200%2001-.26-1.43l1.297-2.247a1.125%201.125%200%20011.37-.491l1.216.456c.356.133.751.072%201.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z'%2F%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='M15%2012a3%203%200%2011-6%200%203%203%200%20016%200Z'%2F%3E%3C%2Fsvg%3E");
  --conex-icon-upload: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='rgb(136,145,164)'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='M9%208.25H7.5a2.25%202.25%200%2000-2.25%202.25v9a2.25%202.25%200%20002.25%202.25h9a2.25%202.25%200%20002.25-2.25v-9a2.25%202.25%200%2000-2.25-2.25H15m0-3-3-3m0%200-3%203m3-3V15'%2F%3E%3C%2Fsvg%3E");
  --conex-icon-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2024%2024'%20stroke-width='1.5'%20stroke='rgb(136,145,164)'%3E%3Cpath%20stroke-linecap='round'%20stroke-linejoin='round'%20d='m2.25%2015.75%205.159-5.159a2.25%202.25%200%2001%203.182%200l5.159%205.159m-1.5-1.5%201.409-1.409a2.25%202.25%200%2001%203.182%200l2.909%202.909m-18%203.75h16.5a1.5%201.5%200%20001.5-1.5V6a1.5%201.5%200%2000-1.5-1.5H3.75A1.5%201.5%200%20002.25%206v12a1.5%201.5%200%20001.5%201.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375%200a.375.375%200%2011-.75%200%20.375.375%200%2001.75%200Z'%2F%3E%3C%2Fsvg%3E");
  --conex-icon-loading: url("data:image/svg+xml,%3Csvg fill='none' height='24' width='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cstyle%3E g %7B animation: rotate 2s linear infinite; transform-origin: center center; %7D circle %7B stroke-dasharray: 75,100; stroke-dashoffset: -5; animation: dash 1.5s ease-in-out infinite; stroke-linecap: round; %7D @keyframes rotate %7B 0%25 %7B transform: rotate(0deg); %7D 100%25 %7B transform: rotate(360deg); %7D %7D @keyframes dash %7B 0%25 %7B stroke-dasharray: 1,100; stroke-dashoffset: 0; %7D 50%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -17.5; %7D 100%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -62; %7D %7D %3C/style%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='10' fill='none' stroke='rgb(136, 145, 164)' stroke-width='4' /%3E%3C/g%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    --conex-color-fg: white;
    --conex-color-fg-unemph: #ffffff60;
    --conex-color-fg-border: #ffffff30;

    --conex-color-bg: black;
  }

  [data-theme="forest"] {
    --conex-color-fg: green;
    --conex-color-fg-unemph: #ffffff60;
    --conex-color-fg-border: #ffffff30;

    --conex-color-bg: brown;
  }
}

body {
  color: var(--conex-color-fg);
  background: var(--conex-color-bg);
}

p {
  @apply
  py-2
}

h1, h2, h3, h4, h5, h6 {
  @apply
  font-bold
}

h1 {
  @apply
  text-4xl
}

h2 {
  @apply
  text-3xl
}

h3 {
  @apply
  text-2xl
}

h4 {
  @apply
  text-lg
}

hr {
  @apply
  my-8
  text-black/15
  dark:text-white/15
}

ul, ol {
  @apply
  list-inside
  my-2
}

ul {
  @apply
  list-disc
}

ol {
  @apply
  list-decimal
}

img {
  @apply
  my-4
}

::selection {
  @apply
  bg-blue-500/30
}

.conex-banner nav {
  @apply
  relative
  z-10
}

nav {
  @apply
  flex
  flex-row
  justify-between
  items-center
}

nav ul {
  @apply
  list-none
  flex
  gap-4
}

.conex-banner {
  @apply
  h-64
  relative
}

.conex-banner div:has(img),
.conex-banner img {
  @apply
  w-full
  h-full
  object-cover
  my-0
}

.conex-banner .conex-banner-content {
  @apply
  absolute
  flex
  flex-col
  justify-center
  text-center
  inset-0
}

.conex-banner:has(img) .conex-banner-content {
  @apply
  text-white
  bg-black/25
}

.conex-banner:has(img) .conex-banner-content textarea::placeholder {
  @apply
  text-white/80
}

.conex-banner h1,
.conex-banner p {
  @apply
  text-shadow-lg
  w-full
  max-w-4xl
  mx-auto
}

.conex-banner h1 {
  @apply
  text-4xl
  font-extrabold
}

.conex-banner p {
  @apply
  font-light
  mt-3
}

.conex-floating-search {
  @apply
  bg-black
}

main {
  @apply
  w-full
  max-w-4xl
  mx-auto
  p-4
}

input, select, button {
  border-color: var(--conex-color-fg-border);

  @apply
  w-full
  my-1
  py-2.5 px-4
  border
  rounded-full

  font-light

  hover:shadow-md

  focus:shadow-md
  focus:outline-none
  focus:border-gray-400

  transition-all
  duration-300
}

:disabled {
  @apply
  opacity-50
}

a {
  @apply
  underline
}

a.conex-card {
  text-decoration: none;
}

button.icon {
  @apply
  inline-flex
  items-center
  border-none
  mx-2
  m-0
  p-0
  bg-no-repeat

  hover:shadow-none

  focus:shadow-none
}

button.icon::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem 1.5rem;
}

button.logout::before {
  background-image: var(--conex-icon-logout);
}

button.edit::before {
  background-image: var(--conex-icon-edit);
}

button.user::before {
  background-image: var(--conex-icon-user);
}

button.gear::before {
  background-image: var(--conex-icon-gear);
}

button.upload::before {
  background-image: var(--conex-icon-upload);
}

button.image::before {
  background-image: var(--conex-icon-image);
}

dialog article {
  @apply
  text-black
  dark:text-white
}

table {
  @apply
  w-full
  my-4
  mx-0
  border-collapse
  table-auto
}

thead {
  @apply
  font-bold
}

th {
  @apply
  text-left
}

th, td {
  border-color: var(--conex-color-fg-unemph);

  @apply
  border-b
  p-2
}

[data-theme="forest"] {
  --conex-color-fg: brown;
  --conex-color-fg-unemph: #00000085;
  --conex-color-fg-border: #00000030;

  --conex-color-bg: green;
}

::placeholder {
  color: var(--conex-color-fg-unemph);

  @apply
  italic
}

.conex-cards {
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

  @apply
  grid
  gap-4
}

.conex-card {
  border-color: var(--conex-color-fg-border);

  @apply
  flex
  max-h-36
  border
  items-stretch
  rounded-2xl
  overflow-hidden

  transition-all
  duration-300

  hover:bg-slate-600/10
  hover:dark:bg-slate-400/10
  hover:border-gray-400
  hover:shadow-md
}

.conex-card-content {
  @apply
  mask-b-from-72% mask-b-to-120%
}

.conex-card img {
  @apply
  max-w-24
  h-auto
  object-cover
  block
}

.conex-card-content {
  @apply
  px-3
  py-1.5
}

.conex-card-content .title {
  @apply
  font-semibold
  text-base
}

.conex-card-content .description {
  @apply
  text-black/60
  dark:text-white/60
}

.conex-card-content .tags {
  @apply
  mb-1
}

article {
  @apply
  border
  rounded-2xl
  p-2
  my-3

  text-gray-800/70
  bg-gray-200/40
  dark:text-gray-400/90
  dark:bg-gray-600/15
}

article header {
  @apply
  font-bold
}

article.info {
  @apply
  text-blue-800/80
  bg-blue-200/40
  dark:text-blue-400/90
  dark:bg-blue-600/15
}

article.warn {
  @apply
  text-yellow-800/90
  bg-yellow-200/15
  dark:text-yellow-400/70
  dark:bg-yellow-500/15
}

article.error {
  @apply
  text-red-800/90
  bg-red-200/40
  dark:text-red-500/90
  dark:bg-red-500/10
}

.tag {
  @apply
  my-0
  mr-1
  text-xs
  border
  rounded-full
  px-1.5
  py-0.5

  /* default: grey */
  border-gray-300
  text-gray-500
  bg-gray-200
  dark:border-gray-600
  dark:text-gray-400
  dark:bg-gray-800
}

[data-color="blue"] {
  @apply
  border-blue-300
  text-blue-500
  bg-blue-100
  dark:border-blue-700
  dark:text-blue-400
  dark:bg-blue-950
}

[data-color="purple"] {
  @apply
  border-purple-300
  text-purple-500
  bg-purple-100
  dark:border-purple-700
  dark:text-purple-400
  dark:bg-purple-950
}

[data-color="cyan"] {
  @apply
  border-cyan-300
  text-cyan-600
  bg-cyan-100
  dark:border-cyan-700
  dark:text-cyan-500
  dark:bg-cyan-950
}

[data-color="green"] {
  @apply
  border-green-400
  text-green-600
  bg-green-100
  dark:border-green-700
  dark:text-green-600
  dark:bg-green-950
}

[data-color="yellow"] {
  @apply
  border-yellow-400
  text-yellow-600
  bg-yellow-100
  dark:border-yellow-600
  dark:text-yellow-600
  dark:bg-yellow-950
}

[data-color="orange"] {
  @apply
  border-orange-300
  text-orange-500
  bg-orange-100
  dark:border-orange-600
  dark:text-orange-500
  dark:bg-orange-950
}

[data-color="red"] {
  @apply
  border-red-300
  text-red-500
  bg-red-100
  dark:border-red-700
  dark:text-red-400
  dark:bg-red-950
}

[aria-busy="true"]:not(input, textarea, html, form)::after {
  margin-left: 0.5em;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: var(--conex-icon-loading);
  background-size: 1em auto;
  background-repeat: no-repeat;
  content: "";
  vertical-align: -.125em;
}

main * {
  @apply
  wrap-anywhere
}

/* text and icons */
.ce-inline-tool,
.ce-popover-item__icon,
.ce-popover-item__title {
  @apply
  dark:text-white
}

/* hover over popups items */
.ce-popover__container .ce-popover-item,
.ce-popover-item__icon,
.tc-popover__item,
.ce-inline-tool {
  @apply
  dark:hover:bg-gray-900!
}

.ce-popover-item-separator__line {
  @apply
  dark:bg-gray-700
}

.tc-popover__item-icon {
  @apply
  dark:bg-black!
  dark:border-none!
}

.tc-row {
  @apply
  bg-transparent!
}

/* floating popups and buttons */
.ce-popover--opened>.ce-popover__container,
.ce-popover__search,
.ce-inline-tool-input,
.ce-toolbar__plus,
.ce-toolbar__settings-btn,
.cdx-list-start-with-field,
.cdx-list__checkbox-check,
.cdx-button,
.tc-add-column,
.tc-add-column *,
.tc-cell.tc-cell--selected,
.cdx-notify.cdx-notify--error.cdx-notify--bounce-in,
.tc-row.tc-row--selected,
.tc-popover.tc-popover--opened {
  @apply
  dark:text-white
  dark:bg-gray-950!
  dark:border-gray-700!
}

/* floating buttons */
.ce-toolbar__plus,
.ce-toolbar__settings-btn,
.tc-add-column,
.tc-add-row {
  @apply
  dark:hover:border-gray-500!
  dark:hover:bg-gray-900!
}

/* selection for example when clicking click to tune */
.ce-block.ce-block--selected .ce-block__content,
*::selection {
  @apply
  dark:bg-blue-500/30!
  rounded-lg
}

.tc-table *, .tc-table {
  border-color: var(--conex-color-fg-unemph) !important;
}

dialog.open {
  @apply
  flex
  z-50
  fixed
  inset-0
  items-center
  justify-center
  min-w-full
  min-h-full
  p-0
  border-0
  backdrop-blur-sm
  bg-black/10
}

dialog > article {
  border-color: var(--conex-color-fg-border);

  @apply
  p-4
  w-11/12
  max-h-[90vh]
  max-w-3xl
  overflow-y-auto
  border
  rounded-2xl

  bg-white
  dark:bg-black
}

dialog > article > header {
  @apply
  mb-6
}

article > header > h1 {
  @apply
  text-2xl
}

dialog button[rel="prev"] {
  float: right;
  width: 2.5rem;
  height: 2.5rem;
  background-image: var(--conex-icon-close);
  background-position: center;
  background-size: auto 1rem;
  background-repeat: no-repeat;
  background-color: transparent;
}
