@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

:root {
  --conex-color-fg: black;
  --conex-color-fg-unemph: #00000085;
  --conex-color-fg-border: #00000030;

  --conex-color-bg: white;
}

[data-theme="forest"] {
  --conex-color-fg: brown;
  --conex-color-fg-unemph: #00000085;
  --conex-color-fg-border: #00000030;

  --conex-color-bg: green;
}

@media (prefers-color-scheme: dark) {
  :root {
    --conex-color-fg: white;
    --conex-color-fg-unemph: #ffffff60;
    --conex-color-fg-border: #ffffff30;

    --conex-color-bg: black;
  }

  [data-theme="forest"] {
    --conex-color-fg: green;
    --conex-color-fg-unemph: #ffffff60;
    --conex-color-fg-border: #ffffff30;

    --conex-color-bg: brown;
  }
}

body {
  color: var(--conex-color-fg);
  background: var(--conex-color-bg);
}

p {
  @apply
  pb-4
}

.conex-banner nav {
  @apply
  relative
  z-10
}

nav {
  @apply
  flex
  flex-row
  justify-between
  items-center
}

nav ul {
  @apply
  list-none
  flex
  gap-4
}

.conex-banner {
  @apply
  h-64
  relative
}

.conex-banner img {
  @apply
  w-full
  h-full
  object-cover
}

.conex-banner .conex-banner-content {
  @apply
  absolute
  flex
  flex-col
  justify-center
  text-center
  inset-0
}

.conex-banner:has(img) .conex-banner-content {
  @apply
  text-white
  bg-black/25
}

.conex-banner h1,
.conex-banner p {
  @apply
  w-full
  max-w-4xl
  mx-auto
}

.conex-banner h1 {
  @apply
  text-4xl
  font-extrabold
}

.conex-banner p {
  @apply
  font-light
  mt-3
}

main {
  @apply
  w-full
  max-w-4xl
  mx-auto
  p-4
}

input, select, button {
  border-color: var(--conex-color-fg-border);

  @apply
  w-full
  my-1
  py-2.5 px-4
  border
  rounded-full

  font-light

  hover:shadow-md

  focus:shadow-md
  focus:outline-none
  focus:border-gray-400

  transition-all
  duration-300
}

::placeholder {
  color: var(--conex-color-fg-unemph);

  @apply
  italic
}

.conex-cards {
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

  @apply
  grid
  gap-3
}

.conex-card {
  border-color: var(--conex-color-fg-border);

  @apply
  flex
  max-h-36
  border
  items-stretch
  rounded-2xl
  overflow-hidden

  transition-all
  duration-300

  hover:bg-slate-600/10
  hover:dark:bg-slate-400/10
  hover:border-gray-400
  hover:shadow-md
}

.conex-card img {
  @apply
  max-w-24
  h-full
  object-cover
  block
}

.conex-card-content {
  @apply
  px-3
  py-1.5
}

.conex-card-content .title {
  @apply
  font-semibold
  text-base
}

.conex-card-content .description {
  @apply
  text-black/60
  dark:text-white/60
}

.conex-card-content .tags {
  @apply
  mb-1
}

.tag {
  @apply
  my-0
  mr-1
  text-xs
  border
  rounded-full
  px-1.5
  py-0.5

  /* default: grey */
  border-gray-300
  text-gray-500
  bg-gray-200
  dark:border-gray-600
  dark:text-gray-400
  dark:bg-gray-800
}

.tag[data-color="blue"] {
  @apply
  border-blue-300
  text-blue-500
  bg-blue-100
  dark:border-blue-700
  dark:text-blue-400
  dark:bg-blue-950
}

.tag[data-color="purple"] {
  @apply
  border-purple-300
  text-purple-500
  bg-purple-100
  dark:border-purple-700
  dark:text-purple-400
  dark:bg-purple-950
}

.tag[data-color="cyan"] {
  @apply
  border-cyan-300
  text-cyan-600
  bg-cyan-100
  dark:border-cyan-700
  dark:text-cyan-500
  dark:bg-cyan-950
}

.tag[data-color="green"] {
  @apply
  border-green-400
  text-green-600
  bg-green-100
  dark:border-green-700
  dark:text-green-600
  dark:bg-green-950
}

.tag[data-color="yellow"] {
  @apply
  border-yellow-400
  text-yellow-600
  bg-yellow-100
  dark:border-yellow-600
  dark:text-yellow-600
  dark:bg-yellow-950
}

.tag[data-color="orange"] {
  @apply
  border-orange-300
  text-orange-500
  bg-orange-100
  dark:border-orange-600
  dark:text-orange-500
  dark:bg-orange-950
}

.tag[data-color="red"] {
  @apply
  border-red-300
  text-red-500
  bg-red-100
  dark:border-red-700
  dark:text-red-400
  dark:bg-red-950
}
