package templates

templ Dialog(tr func(string) string, id, header string, body templ.Component) {
	<dialog id={ id }>
		<article>
			<header>
				<button rel="prev" data-target={ id } onclick="toggleModal(event)"></button>
				<h3>{ header }</h3>
			</header>
			if body != nil {
				@body
			}
		</article>
	</dialog>
}
