openapi: 3.1.0
info:
  title: Conex API
  version: 0.1.0
  description: OpenAPI specification of App.
servers:
  - url: https://conex.co.cr
tags:
  - name: Authentication
  - name: Account
  - name: Sites
paths:
  /{path}:
    get:
      tags:
        - Sites
      operationId: getSite
      summary: Render a public site
      parameters:
        - $ref: '#/components/parameters/SitePath'
      responses:
        '200':
          description: Public site HTML.
          content:
            text/html:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Error'
  /api/auth/login:
    post:
      tags:
        - Authentication
      operationId: loginOrCreateAccount
      summary: Trigger login or account creation
      description: Triggers a confirmation email containing a temporary 6-digit verification code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: john@doe.com
      responses:
        '204':
          description: Verification email sent.
        default:
          $ref: '#/components/responses/Error'
  /api/auth/verify:
    post:
      tags:
        - Authentication
      operationId: verifyAuthenticationCode
      summary: Verify email code
      description: Verifies the provided email and 6-digit code, then creates a new session. If no account exists for the email address, a new account is created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
            example:
              email: john@doe.com
              otp: 123456
      responses:
        '200':
          description: Verified account and created session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
              example:
                access_token: eyJhbGciOa...
                refresh_token: X4fFxvY89ypw5f...
                expires_in: 900
                refresh_token_expires_in: 5184000
        default:
          $ref: '#/components/responses/Error'
  /api/auth/refresh:
    post:
      tags:
        - Authentication
      operationId: refreshSession
      summary: Refresh session tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
            example:
              refresh_token: X4fFxvY89ypw5f...
      responses:
        '200':
          description: Refreshed tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
              example:
                access_token: eyJhbGciOiJIU...
                refresh_token: eyJhbGciOiJIU...
                expires_in: 900
                refresh_token_expires_in: 5184000
        default:
          $ref: '#/components/responses/Error'
  /api/account:
    get:
      tags:
        - Account
      operationId: getAccount
      summary: Get account details
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                email: john@doe.com
                created_at: 1777872664
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - Account
      operationId: deleteAccount
      summary: Delete account
      description: Deletes the authenticated account.
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Account deleted.
        default:
          $ref: '#/components/responses/Error'
  /api/account/email/change:
    patch:
      tags:
        - Account
      operationId: requestEmailChange
      summary: Request an email address change
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeEmailRequest'
            example:
              new_email: new@email.com
      responses:
        '204':
          description: Email change request accepted.
        default:
          $ref: '#/components/responses/Error'
  /api/account/email/change/confirm:
    patch:
      tags:
        - Account
      operationId: confirmEmailChange
      summary: Confirm an email address change
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeEmailConfirmRequest'
            example:
              otp: 123456
      responses:
        '204':
          description: Email change confirmed.
        default:
          $ref: '#/components/responses/Error'
  /api/sites/{path}:
    get:
      tags:
        - Sites
      operationId: sitePathAvailable
      summary: Check whether a site path is available
      parameters:
        - $ref: '#/components/parameters/SitePath'
      responses:
        '204':
          description: Site path is available.
        '409':
          description: Site path is already in use or reserved by another route.
        default:
          $ref: '#/components/responses/Error'
  /api/sites:
    get:
      tags:
        - Sites
      operationId: listSites
      summary: List owned sites
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Sites owned by the authenticated account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Site'
              example:
                - path: go-fitness
                  public: false
                  sub: 1
                - path: personal-blog
                  public: true
                  sub: 1
        default:
          $ref: '#/components/responses/Error'
  /api/site:
    post:
      tags:
        - Sites
      operationId: createSite
      summary: Create a site
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSiteRequest'
            example:
              path: go-fitness
              html: <h1>Hello</h1>
      responses:
        '201':
          description: Site created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
              example:
                path: go-fitness
                public: false
                sub: 1
        default:
          $ref: '#/components/responses/Error'
  /api/site/{path}:
    patch:
      tags:
        - Sites
      operationId: setSitePublic
      summary: Publish or unpublish a site
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SitePath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetSitePublicRequest'
            example:
              public: true
      responses:
        '200':
          description: Site updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
              example:
                path: go-fitness
                public: true
                sub: 1
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - Sites
      operationId: deleteSite
      summary: Delete a site
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/SitePath'
      responses:
        '204':
          description: Site deleted.
        default:
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Error:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    SitePath:
      name: path
      in: path
      required: true
      schema:
        type: string
        minLength: 3
        maxLength: 255
        pattern: '^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$'
  schemas:
    LoginRequest:
      type: object
      additionalProperties: false
      required:
        - email
      properties:
        email:
          type: string
          format: email
    VerifyRequest:
      type: object
      additionalProperties: false
      required:
        - email
        - otp
      properties:
        email:
          type: string
          format: email
        otp:
          type: integer
          description: Six-digit one-time password.
          minimum: 0
          maximum: 999999
    RefreshRequest:
      type: object
      additionalProperties: false
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
    SessionTokens:
      type: object
      additionalProperties: false
      required:
        - access_token
        - refresh_token
        - expires_in
        - refresh_token_expires_in
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          minimum: 0
        refresh_token_expires_in:
          type: integer
          minimum: 0
    VerifyResponse:
      $ref: '#/components/schemas/SessionTokens'
    RefreshResponse:
      $ref: '#/components/schemas/SessionTokens'
    Account:
      type: object
      additionalProperties: false
      required:
        - email
        - created_at
      properties:
        email:
          type: string
          format: email
        created_at:
          type: integer
          description: Account creation timestamp.
    ChangeEmailRequest:
      type: object
      additionalProperties: false
      required:
        - new_email
      properties:
        new_email:
          type: string
          format: email
    ChangeEmailConfirmRequest:
      type: object
      additionalProperties: false
      required:
        - otp
      properties:
        otp:
          type: integer
          description: Six-digit one-time password.
          minimum: 0
          maximum: 999999
    CreateSiteRequest:
      type: object
      additionalProperties: false
      required:
        - path
        - html
      properties:
        path:
          type: string
          minLength: 3
          maxLength: 255
          pattern: '^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$'
        html:
          type: string
    SetSitePublicRequest:
      type: object
      additionalProperties: false
      required:
        - public
      properties:
        public:
          type: boolean
    Site:
      type: object
      additionalProperties: false
      required:
        - sub
        - path
        - public
      properties:
        sub:
          type: integer
        path:
          type: string
        public:
          type: boolean
    Error:
      type: object
      description: Generic error payload shape when the server returns JSON errors.
      additionalProperties: true
